<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/bootstrap/js/bootstrap.min.js"></script>
<br>
<hr style="height: 5px;width:60%;margin-top : 35px; background-color: #115f93;">
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://instagram.com/{{site.social.instagram}}">{%- include instagram-icon.html -%}</a>
            <a href="https://facebook.com/{{site.social.facebook}}">{%- include facebook-icon.html -%}</a>
            <a href="https://twitter.com/{{site.social.twitter}}">{%- include twitter-icon.html -%}</a>
            <a href="mailto:{{site.email}}">{%- include email-icon.html -%}</a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Handcrafted Projects For Better World!</a></li>
        </ul>
        <p class="copyright">© Palash Bauri </p>
    </footer>
</div>
