---
layout: default
---

<!-- NAVIGATION -->
<nav>
  <ul>
    <li>
      <a href="/" class="home">
        <img src="/assets/imgs/cube.svg" alt="" class="navicon" />
        <span class="navicon-text">Palash</span>
      </a>
    </li>
    <li style="float: right;">
      <a class="contact active" href="/about-en">About</a>
    </li>
  </ul>
</nav>
<!-- END NAVIGATION -->

<!-- BANNER -->
<div class="banner-container">
  <div class="banner-text">
    <h3>Hi 👋, I'm,</h3>
    <h3>Palash Bauri</h3>
    <p>I'm A Student 📚 , Coder 👨‍💻 , Inventor 🛠</p>
  </div>

  <img
    class="responsive-img banner-img"
    src="{{site.url}}/assets/imgs/banner.svg"
    alt="alt-text"
  />
</div>
<br /><br />
<!-- END BANNER -->

<div class="website-box-container">
  <h3 class="box-title">read articles 📝</h3>

  {% for category in site.categories %} {% if category[0] == "blog" %} {% for
  post in category.last reversed %}

  <div class="website-box row">
    <a href="{{post.link}}">
      <div class="column left" style="vertical-align: middle;">
        {% if post.has_img_icon %}
        <img
          class="responsive-img item-img"
          src="{{post.icon}}"
          alt="alt-text"
        />
        {% else %}
        <h1>{{post.icon}}</h1>
        {% endif %}
      </div>
      <div class="column right">
        <h2>{{ post.title }}</h2>
        <p>{{post.excerpt}}</p>
        <p class="link">{{post.link}}</p>
      </div>
    </a>
  </div>

  {% endfor %} {% endif %} {% endfor %}
</div>

<div class="website-box-container">
  <h3 class="box-title">works 🛠</h3>

  {% for category in site.categories %} {% if category[0] == "work" %} {% for
  post in category.last reversed %}

  <div class="website-box row">
    <a href="{{post.link}}">
      <div class="column left" style="vertical-align: middle;">
        {% if post.has_img_icon %}
        <img
          class="responsive-img item-img"
          src="{{post.icon}}"
          alt="alt-text"
        />
        {% else %}
        <h1>{{post.icon}}</h1>
        {% endif %}
      </div>
      <div class="column right">
        <h2>{{ post.title }}</h2>
        <p>{{post.excerpt}}</p>
        <p class="link">{{post.link}}</p>
      </div>
    </a>
  </div>

  {% endfor %} {% endif %} {% endfor %}
</div>

{% include social-icons.html %}

