---
layout: default
---

<!-- NAVIGATION -->
<nav>
  <ul>
    <li>
      <a href="/" class="home">
        <img src="/assets/imgs/cube.svg" alt="" class="navicon" />
        <span class="navicon-text">Palash</span>
      </a>
    </li>
    <li style="float: right;">
      <a class="contact active" href="/">About</a>
    </li>
  </ul>
</nav>
<!-- END NAVIGATION -->

<!-- BANNER -->
<div class="banner-container">
  <div class="banner-text">
    <h3>{{page.title}}</h3>
    
  </div>

  
</div>
<br /><br />
<!-- END BANNER -->

<article class="page-content xpage">
    {{content}}
</article>